@inject AppState AppState

<MudNavLink Href="@Href" Match="@Match" Style="margin-left: 0; margin-inline-end: 0">
    <div class="d-flex flex-grow-1 nav-link">
        <Icon IconName="@Icon" Name="@Alt" Width="24" Height="24" Class="flex-none d-flex" />
        <div class="d-flex align-content-center flex-wrap flex-grow-1 gap-4 ps-2">
            <MudText Typo="Typo.h6">@Alt</MudText>
        </div>
    </div>
</MudNavLink>

@code {
    [Parameter] public string Href { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string Icon { get; set; } = string.Empty;
    [Parameter] public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
    [Parameter] public string Name { get; set; } = string.Empty;

    private string Alt => !string.IsNullOrWhiteSpace(Name) ? Name : Icon;
}